<table mat-table [dataSource]="flightList">
  <ng-container matColumnDef="flightNumber">
    <th mat-header-cell *matHeaderCellDef> FlightNumber </th>
    <td mat-cell *matCellDef="let element"> {{element.flightNumber}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="flightPlanId">
    <th mat-header-cell *matHeaderCellDef> FlightPlanId </th>
    <td mat-cell *matCellDef="let element"> {{element.flightPlanId}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="flightStatusIsCritical">
    <th mat-header-cell *matHeaderCellDef> StatusIsCritical </th>
    <td mat-cell *matCellDef="let element"> {{element.flightStatusIsCritical}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Departure">
    <th mat-header-cell *matHeaderCellDef> Departure </th>
    <td mat-cell *matCellDef="let element"> {{element.Departure}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Destination">
    <th mat-header-cell *matHeaderCellDef> Destination </th>
    <td mat-cell *matCellDef="let element"> {{element.Destination}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Scheduledtimedeparture">
    <th mat-header-cell *matHeaderCellDef> Scheduledtimedeparture </th>
    <td mat-cell *matCellDef="let element"> {{element.Scheduledtimedeparture}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
